body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    display: none;
}

ul {
    padding: 0;
    list-style: none;
}

input, button {
    margin-top: 10px;
}
